/*page config*/
body {
  overflow-x: hidden;
  background-color: #fafac0;
}

.container-fluid {
  height: 100vh !important;
  padding: 85px 5% 5% 5.27%;
}

p, span, strong, h1, h2, h3, h4, h5, h6, button, div {
  font-family: 'Lato' !important;
}

/*grids*/
.gridClass {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.gridTwelve {
  grid-column: span 12;
  position: relative;
}

.elementNone {
  display: none;
}

/*modal title*/
.modal-header {
  background-color: #49a6de;
  padding: 12px;
  border-radius: 8px 8px 0 0;
}

.modal-title {
  display: block;
  margin: auto;
  font-size: 27px;
  color: #fafac0;
}

.modal-content {
  border-radius: 12px 12px 4px 4px;
  background-color: #fafac0;
}

/*i18n buttons*/
.i18nBttnClass {
  border-radius: 10px;
  box-shadow: 1px 1px #333;
  background-color: #54cede;
  color: #020202;
}

.i18nBttnClass:active {
  background-color: #ffa500 !important;
}

/*dropdown menu*/
.dropdownHidden {
  display: none;
  opacity: 0;
}
